.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register {
  @apply tw-p-3;
}

.register__title {
  @apply tw-text-center;
}

.register__form {
  @apply tw-grid tw-grid-flow-row tw-gap-3 tw-w-max;
}

.register__form--control {
  @apply tw-py-4 tw-pl-4 tw-pr-88 tw-outline-none tw-rounded tw-h-10;
  border: 1px solid #ccc;
}

.register__button {
  @apply tw-grid tw-place-content-center tw-pt-3;
}

.register__account {
  @apply tw-pt-4 tw-grid tw-justify-center;
}

.register__account--login {
  @apply tw-underline tw-text-primary-default tw-font-semibold;
}
